.conteudo {
    background-color: #1E6F9F;
    height: max-content;
}

.titulo {
    margin-left: 10%;
}

h1 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 104px;
    line-height: 169px;
    color: #FFFFFF;
}

img {
    /* width: 1000px; */
    /* height: 1000px; */
    margin: auto;
}

.img {
    margin-top: 5%;
    width: 80%;
    justify-content: center;
    display: flex;
}

.link {
    text-decoration: none;
}